.navitems ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-size: 21px;
}
.navitems ul li{
    cursor: pointer;
}

.leftpart img{
    width: 70px;
    border-radius: 50%;
}

.leftpart{
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    align-items: center;
}

.foodContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}


.MainFoodCard{
    padding: 10px;
    background-color: #f4f4f4;
    /* border: 1px solid red; */
    border-radius: 15px;
}

.imagecard img {
    width: 260px;
    /* border-radius: 15px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.category{
    list-style-type: none;
    /* display: flex; */

}

.category li {
    cursor: pointer;
}

.categorySection{
    display: flex;
    flex-wrap: wrap;
    
}



.food-card {
    flex-direction: column;
  border-radius: 16px;          
  width: 288px;                 
  padding: 8px;                 
  display: flex;                       
  align-items: center;          
  background-color: #f3f4f6;
  cursor: pointer;              
  transition: all 150ms linear; 

}

.food-card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
              0 2px 4px -2px rgba(0, 0, 0, 0.1); 
}

.food-image {
  width: 160px;       
  border-radius: 16px; 
}

.food-name {
  text-align: center;      
  font-size: 16px;        
  font-weight: 700;       
  width: 100%;             
  padding: 8px;            
  overflow: hidden;        
  text-overflow: ellipsis; 
  white-space: nowrap;     
}